$black: #1f1e25;
$white: #f6f7ff;
$blue: #2c36f2;
$gray: #c1c2ca;
$slider-gray: #2b3c4f;
$footer-gray: #707c87;
$background-blue: #f6f7ff;
$background-white: #ffffff;
$background06: rgba(88, 87, 87, 0.6);
$text-error-red: #ff0000;
$label-black: #394959;
$slider-blue: #2028b6;
$dots-gray: #e0e0e0;
